@model int

<br />
<br />
<br />
<br />


    <div class="row text-center">
        <div class="col-12 ">
            <h1 class="text-success">Your Orderd Placed Successfully!</h1> <br />
            <img style="width:30%" src="~/images/confirmed.png" alt="confirmed image!" /> <br/> <br /> <br />

        </div>
        <div class="col-12">
        <h1>Order Id : <span class="fw-bold text-success"> #@Model </span></h1>
        </div>

    </div>
    <div class="row">
        
    </div>
  