@model Category

<form method="post">

    <div class="border p-3 mt-4">
        <div class="mb-2">
            <h2 class=""> Edit CATEGORY</h2>
            <hr />
        </div>

        <div asp-validation-summary="All"></div>

        <div class="mb-3">

            <label asp-for="Name" class="h5"></label>
            <input asp-for="Name" disabled class="border form-control" />
        </div>

        <div class=" mb-2">
            <label asp-for="DisplayOrder" class="h5"></label>
            <input asp-for="DisplayOrder"  disabled class=" border form-control" />

        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondery form-control border">Back To List</a>
            </div>
        </div>


    </div>


</form>
